<div class='well'>Player 2</div><br/>

Select a Column below then click Submit<br />
 <label><input type='radio' ng-model='player2Column' value='0' name='player2Column'>1<br/></label><br />
 <label><input type='radio' ng-model='player2Column' value='1' name='player2Column'>2<br/></label><br />
  <label><input type='radio' ng-model='player2Column' value='2' name='player2Column'>3<br/></label><br />
 <label><input type='radio' ng-model='player2Column' value='3' name='player2Column'>4<br/></label><br />
 <label><input type='radio' ng-model='player2Column' value='4' name='player2Column'>5<br/></label><br />
 <label><input type='radio' ng-model='player2Column' value='5' name='player2Column'>6<br/></label><br />
  <label><input type='radio' ng-model='player2Column' value='6' name='player2Column'>7<br/></label><br />



<button ng-click='player2.submitP2()' class='btn btn-primary'  >Submit</button>
<br /><br />
<board-directive></board-directive>


<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span>Diego Fortes</p>
      <p><a class="btn btn-lg btn-success" ng-href="#/">Go back to Index</a></p>
  </div>
</div>
