<p>P1<br/>

 <label>  <input type='radio' ng-model='player1Column' value='0' name='player1Column'>0<br/></label>
 <label><input type='radio' ng-model='player1Column' value='1' name='player1Column'>1<br/></label>
  <label><input type='radio' ng-model='player1Column' value='1' name='player1Column'>2<br/></label>
 <label><input type='radio' ng-model='player1Column' value='3' name='player1Column'>3<br/></label>
 <label><input type='radio' ng-model='player1Column' value='4' name='player1Column'>4<br/></label>
 <label><input type='radio' ng-model='player1Column' value='5' name='player1Column'>5<br/></label>



<button ng-click='player1.submitP1()' >Submit</button>


<board-directive></board-directive>

</p>
